/* @tailwind base; */

/* @layer base { */
:root {
  --background: 255 255 255;
  --foreground: 11 9 8;
  --card: 255 255 255;
  --card-foreground: 11 9 8;
  --popover: 255 255 255;
  --popover-foreground: 11 9 8;
  --primary: 2 75 120;
  --primary-foreground: 249 249 248;
  --secondary: 222 218 215;
  --secondary-foreground: 27 25 23;
  --muted: 245 245 244;
  --muted-foreground: 120 112 107;
  --warning: 255 204 0;
  --warning-foreground: 11 9 8;
  --accent: 245 245 244;
  --accent-foreground: 27 25 23;
  --destructive: 238 68 68;
  --destructive-foreground: 249 249 248;
  --border: 231 228 227;
  --input: 231 228 227;
  --ring: 11 9 8;
  --radius: 0.5rem;
}
/* } */
